.root{
   
    justify-content: center;
    text-align: center;  
}
.subroot{
    padding:20px;
    margin-top: 20px;
    background:#f1debe;
    border-radius: 10px;
    margin-right :300px; 
    margin-left: 300px;
}
.heading{
    margin-top: 50px;
}

legend{
    font-size: 20px;
    
}